#editor {
  position:relative;
  width:100%;
}

#controlBar button{
  color:#FFF;
  font-size:1.5em;
  padding:5px;
  height:40px;
  vertical-align:top;
  border:none;
  width:33.33%;
  font-weight:bold;
  margin:0;
  background:#BBB;
}
#controlBar button:focus{
  outline-width: 0;
}
#controlBar .run{
  background-color:#33D121;
}
#controlBar .run:hover{
  background-color:#2CAD1D;
}
#controlBar .run:active{
  background-color:#218216;
}
#controlBar .stop{
  background-color:#888;
}
#controlBar .stop:hover{
  background-color:#444;
}
#controlBar .stop:active{
  background-color:#000;
}
#controlBar .clear{
  background-color:#AAA;
}
#controlBar .clear:hover{
  background-color:#777;
}
#controlBar .clear:active{
  background-color:#444;
}
#controlBar .disabled{
  background-color:#BBB;
}
#controlBar .disabled:hover{
  background-color:#BBB;
}