.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon-gb {background-image: url(/assets/flags/gb.svg)}
.flag-icon-de {background-image: url(/assets/flags/de.svg)}
.flag-icon-us {background-image: url(/assets/flags/us.svg)}
.flag-icon-cz {background-image: url(/assets/flags/cz.svg)}
.flag-icon-dk {background-image: url(/assets/flags/dk.svg)}
.flag-icon-es {background-image: url(/assets/flags/es.svg)}
.flag-icon-fi {background-image: url(/assets/flags/fi.svg)}
.flag-icon-gr {background-image: url(/assets/flags/gr.svg)}
.flag-icon-fr {background-image: url(/assets/flags/fr.svg)}
.flag-icon-jp {background-image: url(/assets/flags/jp.svg)}
.flag-icon-it {background-image: url(/assets/flags/it.svg)}
.flag-icon-br {background-image: url(/assets/flags/br.svg)}
.flag-icon-cn {background-image: url(/assets/flags/cn.svg)}
.flag-icon-pt {background-image: url(/assets/flags/pt.svg)}
.flag-icon-ru {background-image: url(/assets/flags/ru.svg)}
.flag-icon-se {background-image: url(/assets/flags/se.svg)}
.flag-icon-si {background-image: url(/assets/flags/si.svg)}
.flag-icon-nl {background-image: url(/assets/flags/nl.svg)}
.flag-icon-no {background-image: url(/assets/flags/no.svg)}
.flag-icon-pl {background-image: url(/assets/flags/pl.svg)}
.flag-icon-bd {background-image: url(/assets/flags/bd.svg)}
.flag-icon-in {background-image: url(/assets/flags/in.svg)}
.flag-icon-kr {background-image: url(/assets/flags/kr.svg)}
.flag-icon-cat {background-image: url(/assets/flags/cat.svg)}
.flag-icon-eu {background-image: url(/assets/flags/eu.svg)}