/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body{
  background-color: #FFF;
  font-family: sans-serif;
}

#header{
  position:fixed;
  top:0;
  width:100%;
  background:#FFF;
  padding:0;
  -webkit-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
  z-index: 10000;
}

#header img{
  margin:10px 0 0 10px;
  max-width:80%;
}

#app{
  margin-top: 60px;
  padding:10px;
}

#home{
  margin-top: 75px;
  padding:10px;
  background-color:#FAFAFA;
  z-index: 1;
  min-height:100%;
  text-align:center;
}

#home .apps li{
  display:block;
  width: 244px;
  display: inline-block;
  vertical-align: top;
  background: #FFF;
  margin:10px;
  height: 270px;
  text-align:left;
  border:3px solid #FAFAFA;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
}

#home .apps li .icon{
  display:block;
  width:244px;
  height:150px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#home .apps li a{
  text-decoration:none;
}
#home .apps li h2{
  font-size: 150%;
  font-weight:bold;
  color:#333;
  padding:5px;
}

#home .apps li p{
  padding:5px;
  color:#666;
}
.wrapper{
  -webkit-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 12px 0  rgba(0,0,0,0.4);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
  position:absolute;
}


/* Header Menu CSS */

#menu{
  float:right;
  display:block;
  height:100%;
  position:relative;
  margin-right:5px;
}
#menu .menuItem{
  display:inline-block;
  padding:10px 5px 11px;
  background:#EEE;
  height:100%;
  margin:0;
  border:0;
  min-width:40px;
  text-align:center;
  position:relative;
}
#menu .menuItem a{
  text-decoration:none;
  color:#666;
}
#menu .menuItem:hover{
  background-color:#DDD;
}
#menu .menuItem:hover .icon{
  text-decoration:none;
  color:#000;
}
#menu .menuItem:hover .subMenu{
  background-color:#DDD;
}

#menu .show .wrapper{
  display:block;
}

#menu .wrapper{
  display:none;
  background-color:#FCFCFC;
  right:0;
  position:absolute;
  margin-top:10px;
  text-align:left;
}



ul.subMenu li{
  text-align:left;
  padding:7px 12px;
  min-width:200px;
}
ul.subMenu li:hover{
  background-color:#EEE;
  cursor:hand;
}
ul.subMenu li.inactive:hover{
  background-color:#DDD;
  cursor:hand;
}
ul.subMenu li.inactive{
  text-decoration:none;
}

#conn .subMenu{

	padding:10px;
}
#conn .subMenu p{
  width:320px;
	margin-bottom:0.5em;
}

#conn.error .icon{ color:#D12121}
#menu .menuItem.error:hover .icon{color:#a51b1b;}
#conn.connected .icon{color:#33D121}
#menu .menuItem.connected:hover .icon{color:#2c9e1f;}

#save ul#progs li{
  padding-left:30px;
}
#uploader{
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.hidden{
  display:none !important;
}
#l10n .subMenu{
  min-width:448px;
  max-width:800px;
}
#l10n .subMenu li{
  min-width:200px;
  display:inline-block;
}