body {
  background-color: #fff;
  font-family: sans-serif;
  margin-top: 0;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
a:hover {
  color: #f00;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}

/* Buttons */
#app button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
#app button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
#app button.secondary {
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: #fff;
}
#app button.primary>img,
#app button.secondary>img {
  opacity: 1;
}
#app button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
#app button:hover>img {
  opacity: 1;
}
#app button:active {
  border: 1px solid #888 !important;
}
#app button:hover {
  box-shadow: 2px 2px 5px #888;
}
#app button.disabled:hover>img {
  opacity: 0.6;
}
#app button.disabled {
  display: none;
}
#app button.notext {
  font-size: 10%;
}
#app button.small{
  font-size:small;
  padding:4px;
  margin:2px;
}
/* Dialogs */
#dialog {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
#dialogShadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#dialogHeader {
  height: 25px;
  margin: -10px -10px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #ddd;
  cursor: move;
}
#dialog button {
  min-width: 4em;
}
