<!DOCTYPE html>
{% if page.manifest %}
<html manifest="{{ page.manifest }}">
{% else %}
<html>
{% endif %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>{{ page.title }}</title>
  <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/assets/css/main.css">
        <script type="text/javascript" src="/assets/js/FileSaver.min.js"></script>
        <script type="text/javascript" src="/assets/js/classList.min.js"></script>
        <script type="text/javascript" src="/assets/js/mirobot.js"></script>
        <script type="text/javascript" src="/assets/js/mirobot-save.js"></script>
        <script type="text/javascript" src="/assets/js/mirobot-app.js"></script>
        <script type="text/javascript" src="/assets/js/persist.js"></script>
        <script type="text/javascript" src="/assets/js/links.js"></script>
        {% if page.stylesheets %}
          {% for sheet in page.stylesheets %}
            <link rel="stylesheet" href="/assets/apps{{ page.url }}{{ sheet }}">
          {% endfor %}
        {% endif %}
    </head>
    <body>

      <div id="header">
{% if page.index == true %}
        <h1 class="title"><a href="/"><img src="/assets/logo_lg.png" alt="Mirobot Apps" /></a></h1>
{% else %}
        <span class="connState"></span>
        <div id="save"></div>
        <h1 class="title"><a href="/"><img src="/assets/logo_sm.png" alt="Mirobot Apps" /></a></h1>
{% endif %}
      </div>

      {{ content }}
    </body>
</html>
